body {
  text-align: center;
}

#result {
  font-size: 6rem;
  font-weight: bold;
  height: 6rem;
  margin-bottom: 1rem;
}

.extra-large {
  font-size: 125%;
}

.settings {
  text-align: left;
}
@media (min-height: 380px) {
  .settings {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
}

.settings-heading {
  background-color: white;
  display: inline-block;
  margin: 0;
  padding-left: .25rem;
  padding-right: .25rem;
  position: relative;
  top: 1.875rem;
  left: 2rem;
}

.settings-pane {
  outline: .125rem solid grey;
  padding: .5rem;
  margin: 1rem;
  text-align: center;
}
