body {
  text-align: center;
}

#result {
  font-size: 6rem;
  font-weight: bold;
  height: 6rem;
  margin-bottom: 1rem;
}

.extra-large {
  font-size: 125%;
}

.settings {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: left;
  /*width: 100%;*/
  /*z-index: -1;*/
}

.settings-heading {
  background-color: white;
  display: inline-block;
  /*margin-bottom: -1.9rem;*/
  /*text-align: left;*/
  position: relative;
  top: 1.875rem;
  left: 2rem;
  padding-left: .25rem;
  padding-right: .25rem;
  /*margin-left: 2rem;*/
  /*z-index: 100;*/
}

.settings h2 {
  margin: 0;
  /*background-color: white;*/
  /*line-height: 1;*/
  /*margin: 0;*/
  /*margin-bottom: -1.9rem;*/
  /*margin-top: -.5rem;*/
  /*text-align: left;*/
  /*padding-left: .25rem;*/
  /*padding-right: .25rem;*/
  /*margin-left: 2rem;*/
  /*z-index: 300;*/
  /*position: absolute;*/
}

.settings-pane {
  /*box-sizing: border-box;*/
  outline: .125rem solid grey;
  /*border: .125rem solid grey;*/
  /*padding: 5rem .5rem .5rem;*/
  padding: .5rem;
  /*margin: 0 1rem 1rem;*/
  margin: 1rem;
  text-align: center;
  /*width: 100%;*/
  /*z-index: -1;*/
}

/*.numDie, .numFaces {
  display: inline;
}*/
/*.numDie {}*/
/*.numFaces {}*/
